{% extends "layout.html" %}
{% block search %}
<div class="row">
        <div class="col-md-12 text-center description">
                <b>
                        Семантический ассоциат
                </b>
        </div>
</div>
<div class="row">
        <div class="col-md-12 text-center">
                <form class="form-inline my-2 my-lg-0 justify-content-center" action="/search/synonyms">
                        <div id="the-basics">
                                <input class="form-control mr-sm-2 typeahead" type="text" placeholder="Наберите слово"
                                        aria-label="Search" name="word">
                        </div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
                </form>
        </div>
</div>
<div class="row">
        <div class="col-md-12 text-center description">
                <b>
                        Косинусная близость 2-ух слов
                </b>
        </div>
</div>
<div class="row">
        <div class="col-md-12 text-center">
                <form class="form-inline my-2 my-lg-0 justify-content-center" action="/search/similarity">
                        <div id="the-basics">
                                <input class="form-control mr-sm-2 typeahead" type="text" placeholder="Наберите слово"
                                        aria-label="Search" name="word">
                        </div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
                </form>
        </div>
</div>
<div class="row">
        <div class="col-md-12 text-center description">
                Примеры слов для поиска: камень_NOUN, теперь_ADV, близкий_ADJ, переживать_VERB, порок_NOUN и т.д.
        </div>
</div>
{% endblock %}